body {
  display: table;
}
#blackout {
  width: 100%;
  height: 100%;
  /* make sure you have set parents to a height of 100% too*/
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  /*just to make sure its on top*/
  opacity: 0.5;
  background-color: #A9A9A9;
  display: none;
}
#foreSeeIFrameWrapper {
  text-align: center;
  width: 100%;
  z-index: 20;
  position: absolute;
  display: none;
}
#foreSeeIFrameWrapper #foreSeeIFrame {
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
  width: 200px;
  border: 0;
}
#foreSeePopUpBody {
  background-color: #EAEAEA;
}
#foreSeePopUpBody div {
  margin-right: 10px;
}
#foreSeePopUpBody div span {
  font-size: small;
}
#foreSeePopUpBody div input {
  display: block;
  width: 100%;
  margin-top: 6px;
}
#foreSeePopUpBody div button {
  float: right;
  margin-top: 6px;
}
